:root {
  --body_gradient_left: rgb(217, 210, 223);
  --body_gradient_right: rgb(198, 194, 201);
  --form_bg: #ffffff;
  --input_bg: #E5E5E5;
  --input_hover: #eaeaea;
  --submit_bg: #40a1e2;
  --submit_hover: #5cace2;
  --icon_color: #6b6b6b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* make the body full height*/
  height: 100vh;
  /* set our custom font */
  font-family: 'Roboto',
  sans-serif;
  /* create a linear gradient*/
  background-image: linear-gradient(to right, var(--body_gradient_left), var(--body_gradient_right));
  display:flex;
}

#form_wrapper {
  width: 600px;
  height: 500px;
  /* this will help us center it*/
  margin: auto;
  background-color: var(--form_bg);
  border-radius: 50px;
  /* make it a grid container*/
  display: grid;
  /* with two columns of same width*/
  grid-template-columns: 1fr;
  /* with a small gap in between them*/
  grid-gap: 5vw;
  /* add some padding around */
  padding: 8px;
}
#form_wrapper_2 {
  width: 500px;
  height: 700px;
  /* this will help us center it*/
  margin: auto;
  background-color: var(--form_bg);
  border-radius: 50px;
  /* make it a grid container*/
  display: grid;
  /* with two columns of same width*/
  grid-template-columns: 1fr;
  /* with a small gap in between them*/
  grid-gap: 5vw;
  /* add some padding around */
  padding: 8px;
}

#form_left {
  /* center the image */
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 40px;
}

#form_right {
  display: grid;
  /* single column layout */
  grid-template-columns: 1fr;
  /* have some gap in between elements*/
  grid-gap: 20px;
  padding: 10% 5%;
}

.input_container {
  background-color: var(--input_bg);
  /* vertically align icon and text inside the div*/
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 20px;
}

.input_container:hover {
  background-color: var(--input_hover);
}

.input_container,
#input_submit {
  height: 40px;
  /* make the borders more round */
  border-radius: 30px;
  width: 100%;
}

.input_field {
  /* customize the input tag with lighter font and some padding*/
  color: var(--icon_color);
  background-color: inherit;
  width: 90%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 30px;
}

.input_field:hover,
.input_field:focus {
  /* remove the outline */
  outline: none;
}

#input_submit {
  /* submit button has a different color and different padding */
  background-color: var(--submit_bg);
  padding-left: 0;
  font-weight: bold;
  color: white;
}

#input_submit:hover {
  background-color: var(--submit_hover);
  /* simple color transition on hover */
  -webkit-transition: background-color, 1s;
  transition: background-color, 1s;
  cursor: pointer;
}

h1,
span {
  text-align: center;
}

/* shift it a bit lower */

#create_account {
  display: block;
  top: 30px;
}

a {
  /* remove default underline */
  text-decoration: none;
  color: var(--submit_bg);
  font-weight: bold;
}

a:hover {
  color: var(--submit_hover);
}

i {
  color: var(--icon_color);
}


/* make it responsive */

@media screen and (max-width: 768px) {
  /* make the layout  a single column and add some margin to the wrapper */

  #form_wrapper {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* on small screen we don't display the image */

  #form_left {
    display: none;
  }
}

